'context-menu':
  'atom-text-editor, .tree-view.full-menu .file':[
    label: 'Prettify HTML',
    command: 'prettify:prettify'
  ]

'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Text'
      'submenu': [
        { 'label': 'Prettify HTML', 'command': 'prettify:prettify' }
      ]
    ]
  }
]
